body{
    
    margin: 0 auto;
    background-color: #f5f8ff;
}
#hero-section{
    background-image: url('/assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 818px;
}

header{
    display: flex;
    justify-content: center;
}

nav{
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 1200px;
}

.logo{

    font-family: 'Helvetica';
    color: #4e47ff;
    font-size: 34px;
    font-weight: 900;
}

.signup-btn{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Helvetica';
    background-color: #4e47ff;
    padding: 15px 36px;
    border: 1px solid #4e47ff;
    border-radius: 10px;
}
.signup-btn:hover{
    text-decoration: none;
    color: #202020;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Helvetica';
    background-color: white;
    padding: 15px 36px;
    border: 1px solid #4e47ff;
    border-radius: 12px;
}

/*Hero title with button secction*/

.hero-titile-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    min-height: 580px;
}

.hero-title{
    font-family: 'Helvetica';
    font-size: 72px;
    text-align: center;
    align-items: center;
}

.stay-focused-btn{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Helvetica';
    background-color: #4e47ff;
    padding: 15px 36px;
    border: 1px solid #4e47ff;
    border-radius: 10px;
}

.stay-focused-btn:hover{
    text-decoration: none;
    color: #202020;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Helvetica';
    background-color: white;
    padding: 15px 36px;
    border: 1px solid #4e47ff;
    border-radius: 12px;
}

/*Launch Live Preview Section*/

.action-section{
    margin: 0 auto;
    display: flex;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:116px 0;  
}
.in-action-section h2{
    font-family: 'Helvetica';
    font-size: 42px;
    color: #252432;
}

.in-action-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.in-action-section p{

    margin-top: -20px;
    font-family: 'Helvetica';
    max-width: 500px;
    font-size: 24px;
    color: #252432;
    opacity: 50%;
    font-weight: 400;

}

.launch-preview-btn{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Helvetica';
    background-color: #4e47ff;
    padding: 15px 36px;
    border: 1px solid #4e47ff;
    border-radius: 10px;
}

.launch-preview-btn:hover{
    text-decoration: none;
    color: #202020;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Helvetica';
    background-color: white;
    padding: 15px 36px;
    border: 1px solid #4e47ff;
    border-radius: 12px;
}

.wc-mini-img{
    border-radius: 36px;
}